.members {
    display: unset;
}

.card {
    padding: 5px;
    position: relative;
    width: 250px;
    height: 300px;
    left: 50%;
    transform: translateX(-55%);
    -webkit-transform: translateX(-55%);
}

.back img {
    margin-top: -110%;
}

.description {
    margin-top: -100%;
}