ul.navbar li a {
    margin-left: 0.4em;
    font-size: 1.2em;
    padding: 0.9em 0.4em 0.9em 0.4em;
}

#club_intro {
    font-size: 1.2em;
    margin-left: 11%;
}

.info {
    font-size: 1.2em;
    margin-left: 11%;
}

.heading_image {
    width: 20%;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px
}