ul.navbar li a {
    margin-left: 0.5em;
    padding: 0.9em 0.4em 0.9em 0.4em;
}

.heading_image {
    width: 16%;
}

.carousel-inner{
    height: 80vh;
}

.item{
    height: inherit;
    position: relative;
}

.item img{
    width: 80vh;
}
