ul.navbar li a {
    margin-left: 0.4em;
    font-size: 1.2em;
    padding: 0.9em 0.4em 0.9em 0.4em;
}

#club_intro {
    font-size: 1.2em;
    margin-left: 11%;
}

.info {
    font-size: 1.2em;
    margin-left: 11%;
}

.heading_image {
    width: 20%;
}


#myCarousel{
    height: 80vh;
}

.item{
    height: inherit;
}

#left-carousel-control, #right-carousel-control{
    font-size: 0.9em;
}


.carousel-inner{
    height: inherit;
}

.carousel-caption {
    position: relative;
    left: 50%;
    transform: translate(-50%, 30%);
}

.carousel-caption p, h3{
    padding: 0.2em;
}
