ul.navbar li a {
    margin-left: 0.5em;
    padding: 0.9em 0.4em 0.9em 0.4em;
}

.heading_image {
    width: 16%;
}

.carousel-inner{
    height: 80vh;
}

.item{
    height: inherit;
    position: relative;
}

.item img{
    width: 80vh;
}

#footer{
    font-size: 1vw;
    margin: 0;
    margin-top: 3em;
    height: 12vh;
    width: 100%;
    background: #1f2d4f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 0;
}

#footer img{
    height: 5em;
    width: 15em;
    margin-left: 1em;
    margin-right: 1em;
}

#footer div{
    text-align: right;
    height: 5em;
    padding: 1em 2em;
    color: #fff;
    box-sizing: border-box;
}

